@model IEnumerable<EMS.Models.Attendence>

@{
    ViewBag.Title = "AttendenceById";
}

<br />
<br />
<br />

<h1 style="text-align:center">Total Working History of <b> @Html.Display("Name")</b></h1>

<br />

<table class="table" id="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayName("Serial No")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayName("Day")
            </th>
            <th>
                @Html.DisplayName("Entry Time")
            </th>
            <th>
                @Html.DisplayName("Out Time")
            </th>
            <th>
                @Html.DisplayName("Total Hour")
            </th>
        </tr>
    </thead>
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ i++;}
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date.Value.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutTime)
            </td>

            <td>
                @(item.OutTime.Value.Hours - item.EntryTime.Value.Hours)
            </td>
        </tr>
    }

</table>
